.button {
    width: 100%;
    height: max-content;
    padding: 15px 20px; 

    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;

    color: #FFFFFF;;

    background-color: #2196F3;;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}


.button:focus-visible {
    outline-offset: 5px;
    transition: outline-offset .25s ease;
    outline: 2px solid rgba(239,83,37,.5);
}